# Sistema operativo
# ----------------------------------------------------------------------------
leeme.txt
aa_original/

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Entornos virtuales
# ----------------------------------------------------------------------------
# Carpetas de entornos virtuales
venv/
.venv/

# Archivos y directorios de Python
# ----------------------------------------------------------------------------
# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración local
# ----------------------------------------------------------------------------
# Variables de entorno locales
.env
.env.local
.env.*.local

# Bases de datos locales y archivos de migración
# ----------------------------------------------------------------------------
# Bases de datos SQLite
db.sqlite3
db.sqlite3-journal

# Archivos de migración
*.log
*.pot
*.pyc
*.pyo
*.sql
*.sqlite3

# Archivos de configuraciones y cache
# ----------------------------------------------------------------------------
# Archivos de configuración de IDEs y editores de texto
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de log
*.log

# Archivos de cache y temporales
*.bak
*.swp
*~

# Archivos y directorios de Django
# ----------------------------------------------------------------------------
# Archivos de migración
**/migrations/**

# Archivos estáticos y de medios generados
staticfiles/
media/

# Archivos de configuración de despliegue
# ----------------------------------------------------------------------------
# Configuraciones de despliegue
deploy/
docker-compose.yml
Dockerfile

# Otros archivos y directorios
# ----------------------------------------------------------------------------
# Entorno de PyCharm
*.iml
.idea/
*.ipr
*.iws

# Entorno de VSCode
.vscode/

# Archivos generados por npm y node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Archivos de cobertura de pruebas
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
